@args ()

<form action="@attr(route().createShareLink())" method="POST" class="well-form">
    <input type="hidden" name="rowId" />
    <div class="inputs form-title well">
        <h2>Share a Podcast Episode
        </h2>

        <div class="form-group label-floating">
            <label for="rss-input" class="control-label">Search for Podcast Episode</label>
            <input vic-suggest
                   vic-btn
                   vic-btn-disables="share-episode-btn-box"
                   vic-btn-loads="search-loading-box"
                   class="form-control"
                   id="rss-input"
                   type="text"
                   autocomplete="off" />
            <span class="help-block">
                Search by episode name or show title
            </span>
            <div id="search-loading-box">
                <img src="/img/loading.gif" class="loading-gif hidden" />
            </div>

            <ul vic-suggest-results class="search-results hidden">
                <li vic-suggest-prototype>
                    <a>
                        <span vic-episode-title>Episode Name</span>
                        <small>(</small><small vic-show-title>Show title</small><small>)</small>
                    </a>
                </li>
            </ul>

        </div>

        <div class="form-group text-right" id="share-episode-btn-box">
            <button
                    class="btn btn-primary btn-raised"
                    data-toggle="tooltip"
                    data-placement="left"
                    title="Search for podcasts by episode title or the name of the show. Click on the drop down list to choose an episode"
                    vic-suggest-button>
                Share Episode
            </button>
        </div>
    </div>
</form>

