@args ()

<form action="@attr(route().addFeed())" method="POST" class="well-form">
    <div class="inputs form-title well">
        <h2>Import Feed
            <small>(rss feed)</small>
        </h2>

        <div class="form-group label-floating">
            <label for="rss-input" class="control-label">RSS Url</label>
            <input class="form-control" id="rss-input" type="url" />
            <span class="help-block">
                Use the rss feed url
                <code>Include http://</code>
            </span>
        </div>

        <div class="form-group text-right">
            <a class="btn btn-primary btn-raised ">
                Add New Feed
            </a>
        </div>
    </div>
</form>

