.header-panel {
    background-color: #009587;
    height: 44px;
    position: relative;
    z-index: 3;
}

.header-panel h1 {
    color: #FFF;
    /* font-size: 20px; */
    /* font-weight: 400; */
    font-size: 15px;
    position: absolute;
    bottom: -40px;
    padding-left: 35px;
    font-weight: 900;
}

.form-title > h2 {
    font-size: 1.3em;
}
.form-title > h2 > small {
    font-weight:100;
    font-size: .6em;
}

.well-form {
    margin-top: 20px;
}

.well-margin-top {
    margin-top: 20px;
}

.block {
    display: block;
}

.float-right {
    float:right;
}

.hidden {
    display: none;
}

.search-results {
    margin-top: 3px;
    padding-left: 8px;
    position: absolute;
    background: #FFFFFF;
    z-index: 3;
    width: 100%;

    max-height: 120px;
    overflow-y: auto;
}

.search-results > li {
    list-style: none;
    margin-top: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid #DFDFDF;
}

.search-results > li > a {
    color: black;
    width: 100%;
    display: inline-block;
    margin:0px;
    padding: 4px;
    font-size: 1.2em;
}

.search-results > li > a > small {
    font-size: .8em;
    color: #6F6F6F;
}

.search-results > li > a:hover {
    text-decoration: none;
    color: #009587;
    background-color: #F9F9F9;
}

#search-loading-box > img {
    margin-top: 30px;
}

input.form-control {
    padding-left: 8px;
}

.click-pointer {
    cursor: pointer;
}

.loading-gif {
    width: 30px;
    height: 30px;
}

a.btn.btn-raised.btn-primary[disabled],
a.btn.btn-raised.btn-primary:disabled
{
    background-color: #F1F1F1;
}

.player {
    width: 150%;
}

.info-divider {
    color: #818181;
    padding-left: 8px;
    padding-right: 8px;
}

.null-link:hover {
   cursor: default;
    text-decoration: none;
}
