.header-panel {
    background-color: #009587;
    height: 44px;
    position: relative;
    z-index: 3;
}

.header-panel h1 {
    color: #FFF;
    /* font-size: 20px; */
    /* font-weight: 400; */
    font-size: 15px;
    position: absolute;
    bottom: -40px;
    padding-left: 35px;
    font-weight: 900;
}

.form-title > h2 {
    font-size: 1.3em;
}
.form-title > h2 > small {
    font-weight:100;
    font-size: .6em;
}

.well-form {
    margin-top: 20px;
}


.block {
    display: block;
}

.float-right {
    float:right;
}

.hidden {
    display: none;
}

.search-results {
    margin-top: 3px;
    padding-left: 8px;
    position: absolute;
    background: #FFFFFF;
    z-index: 3;
    width: 100%;

    max-height: 120px;
    overflow-y: auto;
}

.search-results > li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-results > li > a {
    color: black;
}

.search-results > li > a:hover {
    text-decoration: none;
    color: #009587;
}

input.form-control {
    padding-left: 8px;
}
