.header-panel {
    background-color: #009587;
    height: 44px;
    position: relative;
    z-index: 3;
}

.header-panel h1 {
    color: #FFF;
    /* font-size: 20px; */
    /* font-weight: 400; */
    font-size: 15px;
    position: absolute;
    bottom: -40px;
    padding-left: 35px;
    font-weight: 900;
}

.form-title > h2 {
    font-size: 1.3em;
}
.form-title > h2 > small {
    font-weight:100;
    font-size: .6em;
}

.well-form {
    margin-top: 20px;
}


.block {
    display: block;
}

.float-right {
    float:right;
}

.hidden {
    display: none;
}

.suggest-results {
    margin: 0;
    padding-left: 0px;
}

.suggest-results > li {
    list-style: none;
}
