@import org.dfhu.sharepodcasts.views.layout.FullPage
@import org.dfhu.sharepodcasts.viewmodels.*

@args (ViewModel vm)

@FullPage.template("Privacy Policy", vm) -> {
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <h2>Privacy Policy</h2>
                <p>When visiting this or any other website you pass along HTTP headers and your IP address.</p>
                <p>Your IP address and HTTP headers are stored in a database on our servers.</p>
                <p>That database is used to ensure the proper functioning of this website as well as to make improvements to this website.</p>
                <p>This information is not shared or sold to any third parties.</p>
                <h3>Playing audio streams of podcasts</h3>
                <p>
                    We do not host the podcast files on this server, each podcast is hosted by originating
                    podcast network, so you must check with individual providers to see their privacy policy before
                    playing a podcast.
                </p>
                <br>
                <p>This Privacy Policy can change at anytime.</p>
                <p>Policy Version 0.0.2 - 2017-03-01</p>
            </div>
        </div>
    </div>
</div>
}