@import org.dfhu.sharepodcasts.viewmodels.ViewModel

@args (String title, ViewModel vm, RockerBody body)

@raw(docType())
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share links to Podcast episodes, share them and play in your browser">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @raw(vm.topScript())

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/css/vendor.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <script type="application/javascript" src="/js/vendor.js"></script>
    <title>@title</title>
</head>
<body>

<div class="header-panel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <a href="/"><h1>Home</h1></a>
            </div>
            <div class="col-xs-6">
                <h1>@title</h1>
            </div>
        </div>
    </div>
</div>

@body

<footer>
    <div class="nav navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home<div class="ripple-container"></div></a>
                <a class="navbar-brand" href="@attr(route().privacyPolicy())">Privacy Policy<div class="ripple-container"></div></a>
            </div>
        </div>
    </div>
</footer>

<script type="application/javascript">
    $.material.init();
</script>
<script type="application/javascript" src="/js/bundle.js"></script>
<img id="one-by-one" />
<script>
    document.getElementById("one-by-one").src = "/onebyone?pathname=" +
        encodeURIComponent(document.location.pathname);
</script>

</body>
</html>


