@args(String title)

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <div>
                    <small style="font-size: .7em">MENU</small>
                    <span class="icon-bar" style="width: 100%"></span>
                    <span class="icon-bar" style="width: 100%"></span>
                    <span class="icon-bar" style="width: 100%"></span>
                </div>
            </button>
            <a class="navbar-brand"
               vic-body-box
               href="/">
                Share a Podcast
            </a>
        </div>
        <div id="main-header-nav" class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@attr(route().browse())"
                        vic-body-box>
                        Browse Feeds
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li>
                    <a href="@attr(route().newFeed())"
                        vic-body-box>
                        Add Feed
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li>
                    <a href="@attr(route().privacyPolicy())"
                        vic-body-box>
                        Privacy Policy
                        <div class="ripple-container"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>