@import org.dfhu.sharepodcasts.views.layout.FullPage
@import org.dfhu.sharepodcasts.viewmodels.*
@import org.dfhu.sharepodcasts.views.listen.Details;

@args (ListenViewModel vm)

@FullPage.template("Create Share Link", vm) -> {
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-margin-top">
                <h2>Comment</h2>
                <p>On this page you may add a comment to your link.</p>
                <p>This feature is optional.</p>
                <p>Some things you might comment on:</p>
                <ul>
                    <li>How did this episode enrich your life?</li>
                    <li>Did it remind you of someone? Maybe mention who and why.</li>
                    <li>Why do you want to share?</li>
                </ul>
                <p><strong>Note: This message will be public!</strong></p>
                <hr>
                @ShareLinkForm.template(vm)
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @Details.template(vm)
        </div>
    </div>
</div>
}
