@import org.dfhu.sharepodcasts.viewmodels.*

@args(ListenViewModel vm)

<form action="@attr(route().saveShareLink())" method="POST">
    <input type="hidden" name="episodeId" value="@attr(vm.getEpisode().id.toString())" />
    <div class="inputs form-title">
        <h2>
            Comment on this Episode
        </h2>

        <div class="form-group label-floating is-empty">
            <label for="t1" class="control-label">
                Type Your Public Comment Here
                <small>(Optional).</small>
            </label>
            <textarea id="t1" class="form-control" autocomplete="off"></textarea>
        </div>


        <div class="form-group text-right">
            <button class="btn btn-primary btn-raised">
                Create
            </button>
        </div>
    </div>
</form>
