@import org.dfhu.sharepodcasts.viewmodels.*

@args(ListenViewModel vm)


<div class="well well-margin-top">
    <div class="row">
        <div class="col-xs-12">
            <h2>@vm.getEpisode().title
                <small>@vm.getEpisode().showTitle</small>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div vic-audio-box></div>
            <a target="_blank" href="@attr(vm.getEpisode().url)">
                <div id="audio-error" class="alert alert-info hidden">
                    <h3>
                        There was an error playing the podcast try clicking here to play directly.
                    </h3>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-3">
            <a href="@attr(vm.getEpisode().url)" class="btn btn-sup btn-material-pink btn-raised">
                <i class="material-icons">file_download</i>
                <span>DOWNLOAD AND PLAY</span>
                <div class="ripple-container"></div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-9">
            @vm.cleanDescription()
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <a href="@attr(vm.getShow().url)" target="_blank">Subscribe <i class="material-icons">&#xE0E5;</i></a>

            @if (! vm.getShow().showUrl.isEmpty()) {
                <span class="info-divider">|</span>
                <a href="@attr(vm.getShow().showUrl)" target="_blank">Website <i class="material-icons">&#xE157;</i></a>
            }
            @if (! vm.getShow().author.isEmpty()) {
                <span class="info-divider">|</span>
                <a href="#" class="null-link">@vm.getShow().author <i class="material-icons">&#xE91F;</i></a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (! vm.getShow().copyright.isEmpty()) {
                <a href="#" class="null-link pull-right"><small><i class="material-icons">&#xE90C;</i> @vm.getShow().copyright</small></a>
            }
            @if (vm.getShow().copyright.isEmpty() && ! vm.getShow().author.isEmpty()) {
                <a href="#" class="null-link pull-right">@vm.getShow().author <i class="material-icons">&#xE91F;</i></a>
            }
        </div>
    </div>
</div>

