@import org.dfhu.sharepodcasts.viewmodels.*

@args(ListenViewModel vm)


<div class="well well-margin-top">
    <div class="row">
        <div class="col-xs-12">
            <h2>@vm.getEpisode().title
                <small>@vm.getEpisode().showTitle</small>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div vic-audio-bo></div>
            @*
            <audio controls>
                <source src="@attr(vm.getEpisode().url)" />
            </audio>
            *@
            <a target="_blank" href="@attr(vm.getEpisode().url)">
                <div id="audio-error" class="alert alert-info hidden">
                    <h3>
                        There was an error playing the podcast try clicking here to play directly.
                    </h3>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-3">
            <a href="@attr(vm.getEpisode().url)" class="btn btn-sup btn-material-pink btn-raised">
                <i class="material-icons">file_download</i>
                <span>DOWNLOAD AND PLAY</span>
                <div class="ripple-container"></div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-9">
            @vm.getEpisode().description
        </div>
    </div>
</div>

