@import org.dfhu.sharepodcasts.views.layout.FullPage
@import org.dfhu.sharepodcasts.viewmodels.*

@args(BrowseEpisodesViewModel vm)

@FullPage.template("Browse Episodes of: " + vm.getShowTitle(), vm) -> {
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <h3>Episodes of "@vm.getShowTitle()"</h3>
            </div>

            <ul class="browse-list-letters">
                @Episodes.template(vm)
            </ul>

        </div>
    </div>
</div>
}
