@import org.dfhu.sharepodcasts.views.layout.FullPage
@import org.dfhu.sharepodcasts.viewmodels.*

@args ()

@FullPage.template("404 Not Found", ViewModelUtil.NOOP) -> {
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-margin-top">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>404 Not Found
                            <small>Please check the URL and try again</small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}